<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojm.mapper.ICaseMapper">
  <resultMap id="BaseResultMap" type="com.zhaojm.bean.CaseDTO">
    <id column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="illness_desc" jdbcType="VARCHAR" property="illnessDesc" />
    <result column="illness_time" jdbcType="TIMESTAMP" property="illnessTime" />
    <result column="illness_grade" jdbcType="VARCHAR" property="illnessGrade" />
    <result column="cure_time" jdbcType="TIMESTAMP" property="cureTime" />
    <result column="cure_cycle" jdbcType="VARCHAR" property="cureCycle" />
    <result column="enter_time" jdbcType="TIMESTAMP" property="enterTime" />
    <result column="enter_person" jdbcType="VARCHAR" property="enterPerson" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="medicine_total_price" jdbcType="DECIMAL" property="medicineTotalPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    case_id, patient_name, doctor_name, illness_desc, illness_time, illness_grade, cure_time, 
    cure_cycle, enter_time, enter_person, remark, medicine_total_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `case`
    where case_id = #{caseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `case`
    where case_id = #{caseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="case_id" parameterType="com.zhaojm.bean.CaseDTO">
    insert into `case` (case_id, patient_name, doctor_name, 
      illness_desc, illness_time, illness_grade, 
      cure_time, cure_cycle, enter_time, enter_person, remark ,medicine_total_price
      )
    values (#{caseId,jdbcType=INTEGER}, #{patientName,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{illnessDesc,jdbcType=VARCHAR}, #{illnessTime,jdbcType=TIMESTAMP}, #{illnessGrade,jdbcType=VARCHAR}, 
      #{cureTime,jdbcType=TIMESTAMP}, #{cureCycle,jdbcType=VARCHAR}, 
      #{enterTime,jdbcType=TIMESTAMP}, #{enterPerson,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{medicineTotalPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="caseId" parameterType="com.zhaojm.bean.CaseDTO">
    insert into `case`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caseId != null">
        case_id,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="illnessDesc != null">
        illness_desc,
      </if>
      <if test="illnessTime != null">
        illness_time,
      </if>
      <if test="illnessGrade != null">
        illness_grade,
      </if>
      <if test="cureTime != null">
        cure_time,
      </if>
      <if test="cureCycle != null">
        cure_cycle,
      </if>
      <if test="enterTime != null">
        cure_time,
      </if>
      <if test="enterPerson != null">
        enter_person,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="medicineTotalPrice != null">
        medicine_total_price,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="illnessDesc != null">
        #{illnessDesc,jdbcType=VARCHAR},
      </if>
      <if test="illnessTime != null">
        #{illnessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="illnessGrade != null">
        #{illnessGrade,jdbcType=VARCHAR},
      </if>
      <if test="cureTime != null">
        #{cureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cureCycle != null">
        #{cureCycle,jdbcType=VARCHAR},
      </if>
      <if test="enterTime != null">
        #{enterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterPerson != null">
        #{enterPerson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="medicineTotalPrice != null">
        #{medicineTotalPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaojm.bean.CaseDTO">
    update `case`
    <set>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="illnessDesc != null">
        illness_desc = #{illnessDesc,jdbcType=VARCHAR},
      </if>
      <if test="illnessTime != null">
        illness_time = #{illnessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="illnessGrade != null">
        illness_grade = #{illnessGrade,jdbcType=VARCHAR},
      </if>
      <if test="cureTime != null">
        cure_time = #{cureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cureCycle != null">
        cure_cycle = #{cureCycle,jdbcType=VARCHAR},
      </if>
      <if test="enterTime != null">
        enter_time = #{enterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterPerson != null">
        enter_person = #{enterPerson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="medicineTotalPrice != null">
        #{medicineTotalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where case_id = #{caseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaojm.bean.CaseDTO">
    update `case`
    set patient_name = #{patientName,jdbcType=VARCHAR},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      illness_desc = #{illnessDesc,jdbcType=VARCHAR},
      illness_time = #{illnessTime,jdbcType=TIMESTAMP},
      illness_grade = #{illnessGrade,jdbcType=VARCHAR},
      cure_time = #{cureTime,jdbcType=TIMESTAMP},
      cure_cycle = #{cureCycle,jdbcType=VARCHAR},
      enter_time = #{enterTime,jdbcType=TIMESTAMP},
      enter_person = #{enter_person,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      medicine_total_price = #{medicineTotalPrice,jdbcType=DECIMAL}
    where case_id = #{caseId,jdbcType=INTEGER}
  </update>
  
    <select id="queryCaseList" parameterType="com.zhaojm.bean.CaseDTO" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `case`
    where case_id is not null
    <if test="caseId != null and caseId != ''">
    and  case_id = #{caseId,jdbcType=VARCHAR}
    </if>
    <if test="patientName != null and patientName != ''">
    and  patient_name LIKE concat(concat('%',#{patientName,jdbcType=VARCHAR}),'%')
    </if>
    <if test="illnessDesc != null and illnessDesc !='' ">
    and  illness_desc LIKE concat(concat('%',#{illnessDesc,jdbcType=VARCHAR}),'%')
    </if>
    <if test="enterPerson !=null and enterPerson !=''">
    and enter_person = #{enterPerson,jdbcType=VARCHAR}
    </if>
    order by enter_time desc
  </select>
  
  
</mapper>