<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojm.mapper.IDiseaseDetailMapper">
  <resultMap id="BaseResultMap" type="com.zhaojm.bean.DiseaseDetailDTO">
    <id column="disease_id" jdbcType="INTEGER" property="diseaseId" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="desease_description" jdbcType="VARCHAR" property="deseaseDescription" />
    <result column="desease_manifestation" jdbcType="VARCHAR" property="deseaseManifestation" />
    <result column="therapeutic_method" jdbcType="VARCHAR" property="therapeuticMethod" />
    <result column="therapeutic_mark" jdbcType="VARCHAR" property="therapeuticMark" />
    <result column="entry_time" jdbcType="VARCHAR" property="entryTime" />
    <result column="entry_person" jdbcType="VARCHAR" property="entryPerson" />
  </resultMap>
  <sql id="Base_Column_List">
    disease_id, department_id, type_id, desease_description, desease_manifestation, therapeutic_method, 
    therapeutic_mark, entry_time, entry_person
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from disease_detail
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from disease_detail
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    insert into disease_detail (disease_id, department_id, type_id, 
      desease_description, desease_manifestation, 
      therapeutic_method, therapeutic_mark, entry_time, 
      entry_person)
    values (#{diseaseId,jdbcType=INTEGER}, #{departmentId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{deseaseDescription,jdbcType=VARCHAR}, #{deseaseManifestation,jdbcType=VARCHAR}, 
      #{therapeuticMethod,jdbcType=VARCHAR}, #{therapeuticMark,jdbcType=VARCHAR}, #{entryTime,jdbcType=VARCHAR}, 
      #{entryPerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    insert into disease_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="diseaseId != null">
        disease_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="deseaseDescription != null">
        desease_description,
      </if>
      <if test="deseaseManifestation != null">
        desease_manifestation,
      </if>
      <if test="therapeuticMethod != null">
        therapeutic_method,
      </if>
      <if test="therapeuticMark != null">
        therapeutic_mark,
      </if>
      <if test="entryTime != null">
        entry_time,
      </if>
      <if test="entryPerson != null">
        entry_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="diseaseId != null">
        #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="deseaseDescription != null">
        #{deseaseDescription,jdbcType=VARCHAR},
      </if>
      <if test="deseaseManifestation != null">
        #{deseaseManifestation,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMethod != null">
        #{therapeuticMethod,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMark != null">
        #{therapeuticMark,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        #{entryTime,jdbcType=VARCHAR},
      </if>
      <if test="entryPerson != null">
        #{entryPerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    update disease_detail
    <set>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="deseaseDescription != null">
        desease_description = #{deseaseDescription,jdbcType=VARCHAR},
      </if>
      <if test="deseaseManifestation != null">
        desease_manifestation = #{deseaseManifestation,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMethod != null">
        therapeutic_method = #{therapeuticMethod,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMark != null">
        therapeutic_mark = #{therapeuticMark,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        entry_time = #{entryTime,jdbcType=VARCHAR},
      </if>
      <if test="entryPerson != null">
        entry_person = #{entryPerson,jdbcType=VARCHAR},
      </if>
    </set>
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    update disease_detail
    set department_id = #{departmentId,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      desease_description = #{deseaseDescription,jdbcType=VARCHAR},
      desease_manifestation = #{deseaseManifestation,jdbcType=VARCHAR},
      therapeutic_method = #{therapeuticMethod,jdbcType=VARCHAR},
      therapeutic_mark = #{therapeuticMark,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=VARCHAR},
      entry_person = #{entryPerson,jdbcType=VARCHAR}
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </update>
</mapper>