<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojm.mapper.IDiseaseDetailMapper">
  <resultMap id="BaseResultMap" type="com.zhaojm.bean.DiseaseDetailDTO">
    <id column="disease_id" jdbcType="INTEGER" property="diseaseId" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="disease_type" jdbcType="VARCHAR" property="diseaseType" />
    <result column="disease_name" jdbcType="VARCHAR" property="diseaseName" />
    <result column="desease_description" jdbcType="VARCHAR" property="deseaseDescription" />
    <result column="desease_manifestation" jdbcType="VARCHAR" property="deseaseManifestation" />
    <result column="therapeutic_method" jdbcType="VARCHAR" property="therapeuticMethod" />
    <result column="therapeutic_mark" jdbcType="VARCHAR" property="therapeuticMark" />
    <result column="entry_time" jdbcType="TIMESTAMP" property="entryTime" />
    <result column="entry_person" jdbcType="VARCHAR" property="entryPerson" />
    <result column="disease_medicine" jdbcType="VARCHAR" property="diseaseMedicine" />
  </resultMap>
  <sql id="Base_Column_List">
    disease_id, department, disease_type, disease_name, desease_description, desease_manifestation, 
    therapeutic_method, therapeutic_mark, entry_time, entry_person, disease_medicine
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from disease_detail
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from disease_detail
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    insert into disease_detail (disease_id, department, disease_type, 
      disease_name, desease_description, desease_manifestation, 
      therapeutic_method, therapeutic_mark, entry_time, 
      entry_person,disease_medicine)
    values (#{diseaseId,jdbcType=INTEGER}, #{department,jdbcType=VARCHAR}, #{diseaseType,jdbcType=VARCHAR}, 
      #{diseaseName,jdbcType=VARCHAR}, #{deseaseDescription,jdbcType=VARCHAR}, #{deseaseManifestation,jdbcType=VARCHAR}, 
      #{therapeuticMethod,jdbcType=VARCHAR}, #{therapeuticMark,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, 
      #{entryPerson,jdbcType=VARCHAR},#{diseaseMedicine,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    insert into disease_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="diseaseId != null">
        disease_id,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="diseaseType != null">
        disease_type,
      </if>
      <if test="diseaseName != null">
        disease_name,
      </if>
      <if test="deseaseDescription != null">
        desease_description,
      </if>
      <if test="deseaseManifestation != null">
        desease_manifestation,
      </if>
      <if test="therapeuticMethod != null">
        therapeutic_method,
      </if>
      <if test="therapeuticMark != null">
        therapeutic_mark,
      </if>
      <if test="entryTime != null">
        entry_time,
      </if>
      <if test="entryPerson != null">
        entry_person,
      </if>
      <if test="diseaseMedicine != null">
        disease_medicine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="diseaseId != null">
        #{diseaseId,jdbcType=INTEGER},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="diseaseType != null">
        #{diseaseType,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null">
        #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="deseaseDescription != null">
        #{deseaseDescription,jdbcType=VARCHAR},
      </if>
      <if test="deseaseManifestation != null">
        #{deseaseManifestation,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMethod != null">
        #{therapeuticMethod,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMark != null">
        #{therapeuticMark,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryPerson != null">
        #{entryPerson,jdbcType=VARCHAR},
      </if>
      <if test="diseaseMedicine != null">
        #{diseaseMedicine,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    update disease_detail
    <set>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="diseaseType != null">
        disease_type = #{diseaseType,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null">
        disease_name = #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="deseaseDescription != null">
        desease_description = #{deseaseDescription,jdbcType=VARCHAR},
      </if>
      <if test="deseaseManifestation != null">
        desease_manifestation = #{deseaseManifestation,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMethod != null">
        therapeutic_method = #{therapeuticMethod,jdbcType=VARCHAR},
      </if>
      <if test="therapeuticMark != null">
        therapeutic_mark = #{therapeuticMark,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        entry_time = #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryPerson != null">
        entry_person = #{entryPerson,jdbcType=VARCHAR},
      </if>
      <if test="diseaseMedicine != null">
        disease_medicine = #{diseaseMedicine,jdbcType=VARCHAR},
      </if>
    </set>
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaojm.bean.DiseaseDetailDTO">
    update disease_detail
    set department = #{department,jdbcType=VARCHAR},
      disease_type = #{diseaseType,jdbcType=VARCHAR},
      disease_name = #{diseaseName,jdbcType=VARCHAR},
      desease_description = #{deseaseDescription,jdbcType=VARCHAR},
      desease_manifestation = #{deseaseManifestation,jdbcType=VARCHAR},
      therapeutic_method = #{therapeuticMethod,jdbcType=VARCHAR},
      therapeutic_mark = #{therapeuticMark,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      entry_person = #{entryPerson,jdbcType=VARCHAR}
      disease_medicine = #{diseaseMedicine,jdbcType=VARCHAR}
    where disease_id = #{diseaseId,jdbcType=INTEGER}
  </update>
  
  
  <!-- <select id="queryDiseaseList" parameterType="com.zhaojm.bean.DiseaseDetailDTO" resultMap="BaseResultMap">
  select * from disease_detail
  where disease_id is not null
  <if test="diseaseType != null and diseaseType != ''">
    and disease_type = #{diseaseType,jdbcType=VARCHAR}
  </if>
  </select> -->
  
  
  <select id="queryDiseaseList" parameterType="com.zhaojm.bean.DiseaseDetailDTO" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from disease_detail
    where disease_id is not null
    <if test="diseaseName != null and diseaseName != ''">
        and disease_name LIKE( concat('%',concat(#{diseaseName,jdbcType=VARCHAR},'%')) )
    </if>
    <if test="department != null and department != ''">
        and department = #{department}
    </if>
    <if test="diseaseType != null and diseaseType != ''">
        and disease_type = #{diseaseType}
    </if>
    <if test="deseaseDescription != null and deseaseDescription != ''">
        and deseaseDescription LIKE( concat('%',concat(#{deseaseDescription,jdbcType=VARCHAR},'%'))
    </if>
    order by department asc
  </select> 
  <select id="getDiseaseDepartment" resultType="java.lang.String">
    select DISTINCT department
    from disease_detail
	order by department asc
  </select>
  <select id="getDiseaseType" resultType="java.lang.String">
    select DISTINCT disease_type
    from disease_detail
	order by disease_type
  </select>
  
</mapper>