<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link href="css/case_table.css" rel="stylesheet" />
	</head>
	<body>
		<div class="x-nav" style="top: 8px;">
		<span class="layui-breadcrumb"> <a><cite>首页</cite></a> <a><cite>开处方</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
	<form action="" onsubmit="saveCase()">
	<div align="center">
		<table align="center" class="my-table1" border="1" >
			<tr><td class="my-table-td1">
		<table cellspacing="8px;" class="word-size" width="581" align="center">
		  <tr>
		    <td width="90">&nbsp;</td>
		    <td width="90">&nbsp;</td>
		    <td colspan="2" rowspan="2" align="center" valign="middle"><h1><strong>处&nbsp;&nbsp;&nbsp;方&nbsp;&nbsp;&nbsp;单</strong></h1></td>
		    <td width="90">&nbsp;</td>
		    <td width="90">&nbsp;</td>
		  </tr>
		  <tr>
		    <td>&nbsp;</td>
		    <td>&nbsp;</td>
		    <td class="word-size" align="right" valign="middle">流水号：</td>
		    <td><input style="width: 90px;height: 25px;" readonly="readonly" placeholder="不用填写" id="caseId" /></td>
		  </tr>
		  </table>
		 </td></tr>
		  <tr><td class="my-table-td2">
		  <table cellspacing="8px;" class="word-size" width="581" align="center">
		  <tr>
		    <td width="90" align="right" valign="middle">姓名</td>
		    <td width="90" align="right" valign="middle">
		        <input id=patientId type="hidden" value="" />
		    	<input id="patientName" required="required" onkeyup="getPatient()" lay-verify="requcheck" style="width: 90px;height: 25px;" />
		    	<div id="nameshow" class="show">
                </div>
		    </td>
		    <td width="90" align="right" valign="middle">性别</td>
		    <td width="90" align="right" valign="middle">
		          <!-- <input id="patientSex" required="required" lay-verify="requcheck" style="width: 90px;height: 25px;" /> -->
	    		 <select id="patientSex" style="width: 90px;height: 30px;">
	                 <option value="男" selected="selected">男</option>
	                 <option value="女">女</option>
	             </select>
		    </td>
		    <td width="90" align="right" valign="middle">年龄</td>
		    <td width="90" align="right" valign="middle">
		    	<input id="patientAge" required="required" lay-verify="requcheck" style="width: 90px;height: 25px;" />
		    </td>
		  </tr>
		  <tr>
		    <td width="90" align="right" valign="middle"><span>患病时间</span></td>
		    <td colspan="4" align="left" valign="middle">
		    	<input id="illnessTime" required="required" lay-verify="requcheck" type="date" style="width: 150px;height: 25px;" />
		    	
		    </td>
		    </tr>
		    </table>
		  </td></tr>
		  <tr><td class="my-table-td2">		  
		  <table cellspacing="8px;" class="word-size" width="581" align="center">
		  <tr>
		    <td colspan="3" align="left" width="90">病情描述</td>
		    <td width="90">&nbsp;</td>
		    <td width="90">&nbsp;</td>
		    <td width="90">&nbsp;</td>
		  </tr>
		  <tr>
		    <td align="left" colspan="6">
		    	<textarea id="illnessDesc" lay-verify="requcheck" style="width: 553px;height: 130px;"></textarea>
		    </td>
		    </tr>
		  </table>
        </td></tr>
        <tr><td class="my-table-td2">
        <table id="medicineTable" cellspacing="8px;" class="word-size" width="581" align="center">
		  <tr>
		    <td width="90px;" align="left">用&nbsp;药</td>
		    <td width="90px;">&nbsp;</td>
		    <td width="90px;">&nbsp;</td>
		    <td width="90px;">&nbsp;</td>
		    <td width="90px;">&nbsp;</td>
		    <td width="90px;">&nbsp;</td>
		  </tr>
		  <tbody id="medicineBody">
		  <tr>
		    <td align="right">药&nbsp;名</td>
		    <td colspan="2" align="left">
		    	<input name="medicineName" onkeyup="getMedicine(this)" lay-verify="requcheck" required="required" style="width: 180px;height: 25px;"  />
		    	<div id="medishow" class="medishow">
                </div>
		    </td>
		    <td align="right">用&nbsp;量</td>
		    <td align="left" colspan="2">
		    	<input name="price" type="hidden" />
		    	<input name="consumption" required="required" onblur="countPrice(this);" style="width: 20px;height: 25px;" />
		    	<select name="mediunit" style="width: 45px;height: 30px;">
	                 <option value="盒" selected="selected">盒</option>
	                 <option value="袋">袋</option>
	                 <option value="瓶">瓶</option>
	                 <option value="其他">其他</option>
	            </select>
		    	<input type="button" style="width: 25px;height: 25px;" onclick="operateMedicine(this)" id="addMedicine" value="+" />
		    	<input name="total" onblur="countPrice(this);" style="width: 50px;height: 25px;" />
		    </td>
		  </tr>
		  </tbody>
		  </table>
		  </td></tr>
		  <tr><td class="my-table-td3">
		  <table cellspacing="5px;" class="word-size" width="581" align="center">
		  <tr>
		    <td colspan="1" align="right">治疗周期</td>
		    <td colspan="3" align="left" valign="middle">
		    	<input id="cureCycle" required="required" lay-verify="requcheck" style="width: 260px;height: 25px;" />
		    </td>
		    <td width="90">&nbsp;</td>
		    <td width="90">&nbsp;</td>
		  </tr>
		  <tr>
		    <td width="90">医生</td>
		    <td width="90">
		    	<input id="doctorName" required="required" lay-verify="requcheck" style="width: 90px;height: 25px;" />
		    </td>
		    <td>&nbsp;</td>
		    <td width="90">时间</td>
		    <td colspan="2">
		    	<input id="cureTime" type="date" required="required" lay-verify="requcheck" style="width: 178px;height: 25px;" />
		    </td>
		    </tr>
		</table>
		</td></tr>
		</table>
		<br />
		<div id="modify">
		  <input type="submit" style="width: 178px;height: 31px;" value="保存" />
		  <!-- <button class="layui-btn" style="width: 178px;height: 25px;" lay-filter="add" lay-submit="" >保存</button> -->
		</div>
		<div id="seem" style="display: none;">
          <button class="layui-btn" style="width: 178px;height: 25px;" lay-filter="print" lay-submit="" >打印</button>
          <button class="layui-btn" style="width: 178px;height: 25px;" lay-filter="cal" lay-submit="" >取消</button>
        </div>
	</div>
	</form>
	</div>
	<br />
	<br />
	<br />
	<script src="js/jquery-1.12.1.min.js" type="text/javascript"></script>
	<script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script src="js/x-layui.js" charset="utf-8"></script>
    
	<script type="text/javascript" src="functionjs/case_table.js"></script>

	
	</body>
</html>
