<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Login hospital</title>
<link rel="stylesheet" type="text/css" href="../static/login.css">
<style type="text/css">
<!--
body {
	background-color: #dddddd;
}
-->
</style>
</head>
<body>
    <div align="center">
	<div class="ribbon">Login to your account</div>
	<div class="wrapper">
		<div class="logo"></div>
		<div class="loginwrapper">
			<span class="usertext">Username:</span><br> <input
				class="textbox" type="text" size="25"><br> <span
				class="usertext">Password:</span><br> <input class="textbox"
				type="password" size="25"> <img src="images/login/lock.png"
				alt="Lock Image"><br>
		</div>
		<div class="bottomwrapper">
			<input type="button" class="button"> <a href="#">Login to
				your account</a><br>

		</div>
	</div>
	</div>
</body>
</html>